body {
    background-color: #0e1117;
    color: #e6e6e6;
}

.title {
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
}

textarea {
    background-color: #161b22 !important;
    color: #ffffff !important;
    border-radius: 10px !important;
}

.history-card {
    background: #161b22;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-left: 4px solid #ff4b4b;
}
